@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 500;
}

.main {
    display: flex;
    max-height: 100vh;

    &__left-side {
        width: auto;
        height: 100vh;
        background-color: rgb(243, 243, 243);
    }

    &__brand-wrapper {
        padding: 40px 30px 50px 30px;
    }

    &__hr {
        width: 75%;
        height: 2px;
        margin-top: 0;
        margin-bottom: 0;
        background-color: lightgray;
        border: none;
    }

    &__navigation, &__user-room {
        list-style: none;
        margin: 0;
        padding: 40px 30px;
    }

    &__navigation-item, &__user-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__user-item:first-child {
        position: relative;
    }

    &__user-item {
        padding-left: 30px;
    }

    &__navigation-link, &__user-link {
        color: black;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-decoration: none;

        .svg-icon {
            stroke: black;
        }

        &:hover {
            color: red;

            .svg-icon {
                stroke: red;
            }
        }

        &--active {
            color: red;
            border-bottom: 2px solid red;

            .svg-icon {
                stroke: red;
            }
        }
    }

    &__user-link {
        position: relative;

        .svg {
            position: absolute;
            left: -30px;
        }
    }

    &__user-link {
        text-transform: none;
        font-weight: 400;
    }

    &__user-notification {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: .3rem;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: .8rem;
        font-weight: 500;
        color: white;
        background-color: red;
        border-radius: 50%;
    }

    &__main-side {
        flex-grow: 1;
        padding-left: 40px;
        padding-right: 40px;
        overflow: auto;
    }

    &__instruments {
        display: flex;
        flex-direction: column;
    }

    &__instruments-headers {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: .7rem;
        font-weight: 700;
        text-transform: uppercase;

        > div {
            &:first-child {
                width: 30%;
                text-align: center;
                color: rgba(0, 0, 0, .4);
            }

            &:not(:first-child) {
                width: 17.5%;
                cursor: pointer;
            }

            &:last-child {
                width: 100px;
                cursor: auto;
                color: rgba(0, 0, 0, .4);
            }
        }
    }

    &__cms {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        font-size: .85rem;
        font-weight: 700;
        border-bottom: 1px solid lightgray;

        > div {
            display: flex;
            align-items: center;

            &:first-child {
                width: 30%;
            }

            &:not(:first-child) {
                font-size: .75rem;
                width: 17.5%;
                font-weight: 500;
            }

            &:last-child {
                width: 100px;
            }
        }

        &-name {
            position: relative;

            .svg {
                position: absolute;
                left: -30px;

                &-icon {
                    stroke: red;
                }
            }
        }

        &-compare {
            position: relative;
        }
    }

    &__cms-logo {
        width: 15%;
        margin-right: 15px;
    }

    &__cms-checkbox {
        display: none;

        &:checked ~ .main__cms-checkbox-sub {
            background-color: red;
        }
    }

    &__cms-checkbox-sub {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: white;
        text-align: center;
        border: 1px solid red;
        border-radius: 5px;
        cursor: pointer;
    }

    &__delete-favorite, &__cms-page-button {
        padding: 10px;
        color: red;
        background-color: white;
        border: 1px solid red;
        border-radius: 5px;

        &:hover {
            color: white;
            background-color: red;
        }
    }

    .cms__sponsor-tag {
        position: absolute;
        right: -25px;
        font-weight: 500;
        font-size: .7rem;
        color: rgba(0, 0, 0, .4);
        text-transform: uppercase;
        transform: rotate(-90deg);
    }

    &__cms-pagination {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__cms-paging {
        padding: 10px;
        color: white;
        background-color: red;
        border-radius: 5px;
        border: none;

        &:hover {
            color: red;
            background-color: white;
            border: 1px solid red;
        }

        &:disabled {
            background-color: gray;

            &:hover {
                color: white;
                background-color: gray;
                border: none;
            }
        }
    }

    &__cms-page-form {
        padding: 10px;
        margin-right: 10px;
        background-color: white;
        border: 1px solid red;
        border-radius: 5px;
    }
}